/* ===== Projects Page ===== */
main div.void {
  background-color: var(--background-color);
  width: 100%;
  height: 6.5rem;
}

body.modal-open {
  overflow: hidden;
}

main {
  flex: 1;
}

/* ===== Navbar Override ===== */
.nav-list {
  gap: 3rem;
}

/* ===== Title ===== */
main div.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 30rem;
  padding: 0 9rem 0 9rem;
}

.title div {
  display: inline-block;
  white-space: nowrap;
}

.subtitle {
  overflow: hidden;
  width: 0;
  line-height: 1.75rem;
  font-size: 1.5rem;
  color: var(--tertiary-color);
  animation: typing 3s steps(46) 2s forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 46ch;
  }
}

/* ===== Filter ===== */
main .filter {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  padding: 5rem 5rem 0 5rem;
}

.filter #filter {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  border: none;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-left: 3px solid #8f8f8f;
  outline: none;
  border-radius: 0;
  cursor: pointer;
}

/* ===== Project list ===== */
.card-wrapper {
  padding: 2.5rem 5rem 5rem 5rem;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.card-item {
  position: relative;
  list-style: none;
  width: 100%;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
  &.hidden {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
  }
}
.card-link {
  user-select: none;
  display: flex;
  flex-direction: column;
  background: #222222;
  border-radius: 15px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
  &:hover {
    border-color: var(--secondary-color);
    transform: scale(1.02);
    cursor: pointer;
  }
}

.card-content {
  text-align: start;
  padding: 1.5rem;
}

.description {
  color: var(--primary-color);
  line-height: 20px;
}

.card-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  margin: 0;
}

.badges {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.75rem;
}

.badge {
  color: var(--background-color);
  padding: 0.25rem 0.75rem;
  margin: 1rem 0 1.1rem;
  background: var(--tertiary-color);
  font-size: 0.75rem;
  font-weight: 500;
  width: fit-content;
  border-radius: 15px;
  transition: 0.2s ease;
}

.html-badge {
  background: var(--html-color);
}

.css-badge {
  background: var(--css-color);
}

.js-badge {
  background: #f0db4f;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.popover {
  user-select: none;
  position: fixed;
  place-self: center;
  flex-direction: column;
  width: 35%;
  height: 80%;
  background: #222222;
  border-radius: 1rem;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}

.popover .icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popover::backdrop {
  background-color: #0007;
  backdrop-filter: blur(3px);
}

.popover .content {
  position: relative;
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.popover .card-image {
  height: 25%;
}
