@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@font-face {
  font-family: 'switzer';
  src: url('../assets/fonts/Switzer-Variable.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: var(--background-color);
}

section {
  height: 100vh;
  display: flex;
}

:root {
  --primary-color: #ededed;
  --secondary-color: #313131;
  --tertiary-color: #595959;
  --quaternary-color: #9c9c9c;
  --background-color: #000000;
  --highlight-color: #ffc300;
  --tone-color: #ffb700;
  --html-color: #de4a24;
  --css-color: #1695cf;
  --js-color: #f0db4f;
  --bs-color: #7952b3;
  --java-color: #ec782a;
  --maven-color: #f11d40;
  --jdbc-color: #21819e;
}

.display {
  font-family: "switzer", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4.5rem;
}

.divider {
  border: 1px solid var(--secondary-color);
}

.bold {
  margin: 2rem 0;
  border: 1rem solid var(--primary-color);
}

.html-badge {
  background: var(--html-color) !important;
  color: var(--background-color) !important;
}

.css-badge {
  background: var(--css-color) !important;
  color: var(--background-color) !important;
}

.js-badge {
  background: var(--js-color) !important;
  color: var(--background-color) !important;
}

.bs-badge {
  background: var(--bs-color) !important;
  color: var(--primary-color) !important;
}

.java-badge {
  background: var(--java-color) !important;
  color: var(--background-color) !important;
}

.maven-badge {
  background: var(--maven-color) !important;
  color: var(--primary-color) !important;
}

.jakarta-badge {
  background: var(--java-color) !important;
  color: var(--background-color) !important;
}

.oracledb-badge {
  background: var(--maven-color) !important;
  color: var(--primary-color) !important;
}

.jdbc-badge {
  background: var(--jdbc-color) !important;
  color: var(--primary-color) !important;
}

.jwt-badge {
  background: var(--background-color) !important;
  color: var(--primary-color) !important;
}

.kotlin-badge {
  background: var(--bs-color) !important;
  color: var(--primary-color) !important;
}

.outros-badge {
  background: var(--background-color) !important;
  color: var(--primary-color) !important;
}

.no-select {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
